.btn btn-primary{
    margin: auto;
}

.harrykadabba {
    padding-left: 30%;
    display: flex;
    flex-direction: column; /* Align content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Set height to occupy full viewport height */
    align-self: center;
    text-align: center;
    border: 3px solid green;
    margin-left: 0 auto;

  }
  
  